body {
  margin: 0;
  height: 100vh;
  background: url(http://getwallpapers.com/wallpaper/full/7/0/5/267687.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.App {
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.nav-links {
  list-style: none;
  padding-left: 0;
  font-weight: 900;
  display: flex;
  justify-content: space-around;
}

.nav-links li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bb-chars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bb-chars img {
  max-width: 250px;
}

.bb-char {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.bb-char:hover {
  color: #000;
  background: rgb(255, 255, 167);
  cursor: pointer;
}

button {
  color: #fff;
  font-weight: 900;
  background: none;
  border: none;
  cursor: pointer;
}

.message {
  padding: 25px;
  background: #fff;
  color: red;
  position: fixed;
  top: 15px;
  right: 15px;
  font-weight: 900px;
}